
body {
	background: linear-gradient(
		to right,
		#e81123,
		#e81123 12.5%,
		#ffffff 12.5%,
		#ffffff 17.5%,
		#f7941d 17.5%,
		#f7941d 30%,
		#ffffff 30%,
		#ffffff 35%,
		#fff100 35%,
		#fff100 47.5%,
		#ffffff 47.5%,
		#ffffff 52.5%,
		#00a650 52.5%,
		#00a650 65%,
		#ffffff 65%,
		#ffffff 70%,
		#0054a5 70%,
		#0054a5 82.5%,
		#ffffff 82.5%,
		#ffffff 87.5%,
		#672d93 87.5%,
		#672d93    
	)
}	

h1 {
	font-family: "Helvetica", "Arial", sans-serif;
}

p {
	font-family: "Helvetica", "Arial", sans-serif;
}

a {
	font-family: "Helvetica", "Arial", sans-serif;
	color: white;
	text-decoration: none;
	margin: 10px;
}

a:hover {
	color: black;
}

.navbar {
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	bottom: 0;
	width: 100%; /* Full width */
}
#tv {
	height: 800px;
	width: 1100px;
	background-image: url("../img/tvgreen.png");
	background-repeat: no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
 }
 
 #rocketPatrol {
	height: 480px;
	width: 640px;
	border: none;
	overflow: hidden;
 }
 #game {
	padding-top: 175px;
	margin-left: 100px;
	margin-right: auto;
	height: 480px;
	width: 650px;
  }

#description {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}