
body {
	background: linear-gradient(
		to right,
		#e81123,
		#e81123 17%,
		#f7941d 17%,
		#f7941d 34%,
		#fff100 34%,
		#fff100 51%,
		#00a650 51%,
		#00a650 68%,
		#0054a5 68%,
		#0054a5 85%,
		#672d93 85%,
		#672d93    
	)
}	

h1 {
	font-family: "Helvetica", "Arial", sans-serif;
}

p {
	font-family: "Helvetica", "Arial", sans-serif;
}

a {
	font-family: "Helvetica", "Arial", sans-serif;
	color: white;
	text-decoration: none;
	margin: 10px;
}

a:hover {
	color: black;
}

.navbar {
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	bottom: 0;
	width: 100%; /* Full width */
}
#tv {
	height: 800px;
	width: 1100px;
	background-image: url("./img/tvgreen.png");
	background-repeat: no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
 }
 
 #rocketPatrol {
	height: 480px;
	width: 640px;
	border: none;
	overflow: hidden;
 }
 #game {
	padding-top: 175px;
	margin-left: 100px;
	margin-right: auto;
	height: 480px;
	width: 650px;
  }

#description {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}